<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<style>
  table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 100px auto;
  }
  td {
    margin: 0;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 100px;
    height: 100px;
  }

  .title {
    font-family: Pacifico;
    font-size: 45px;
  }

  @media print {
    table {
      page-break-after: always;
    }
  }
</style>

<% @groups.each do |group| %>
<table border="0" cell>
<tr>
  <td colspan="5" class="title"><%= h @title %></td>
</tr>
<tr>
  <td><%= h group[0] %></td>
  <td><%= h group[1] %></td>
  <td><%= h group[2] %></td>
  <td><%= h group[3] %></td>
  <td><%= h group[4] %></td>
</tr>
<tr>
  <td><%= h group[5] %></td>
  <td><%= h group[6] %></td>
  <td><%= h group[7] %></td>
  <td><%= h group[8] %></td>
  <td><%= h group[9] %></td>
</tr>
<tr>
  <td><%= h group[10] %></td>
  <td><%= h group[11] %></td>
  <td><img src="/images/star.png" width="40" height="40" /></td>
  <td><%= h group[12] %></td>
  <td><%= h group[13] %></td>
</tr>
<tr>
  <td><%= h group[14] %></td>
  <td><%= h group[15] %></td>
  <td><%= h group[16] %></td>
  <td><%= h group[17] %></td>
  <td><%= h group[18] %></td>
</tr>
<tr>
  <td><%= h group[19] %></td>
  <td><%= h group[20] %></td>
  <td><%= h group[21] %></td>
  <td><%= h group[22] %></td>
  <td><%= h group[23] %></td>
</tr>
</table>
<% end %>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
//<![CDATA[
var sc_project=10555847; 
var sc_invisible=1; 
var sc_security="0dd1d09f"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter_xhtml.js'></"+"script>");
//]]>
</script>
<noscript><div class="statcounter"><a title="shopify
analytics ecommerce tracking"
href="http://statcounter.com/shopify/"
class="statcounter"><img class="statcounter"
src="http://c.statcounter.com/10555847/0/0dd1d09f/1/"
alt="shopify analytics ecommerce tracking"
/></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
