<style>
  body {
    font-size: 13pt;
    font-family: Helvetica;
  }

  form {
    margin: 0 auto;
    width: 500px;
    background: #eeeeee;
    border-radius: 10px;
    padding: 30px 50px;
  }

  input, textarea {
    border: 1px solid #dedede;
    padding: 10px;
    width: 100%;
  }

  textarea {
    height: 250px;
  }

  .error {
    font-size: 11pt;
    color: #a94442;
  }

  p {
    margin-bottom: 5px;
  }
</style>
<form action="/show" method="post">
<p><b>Give your Bingo game a title:</b></p>
<div><small>For example: "Baby Bingo" for a baby shower</small></div>
<% if @errors[:title] %><div class="error"><%= @errors[:title].join(', ') %></div><% end %>
<p><input type="text" name="title" placeholder="Put the title of your bingo game here." value="<%= h @values[:title] %>" /></p>

<p><b>Bingo tile items</b></p>
<div><small>List all potential options on your bingo cards, one per line.  Each individual card will choose a random 24 from this list with 1 "free" space in the middle.  <b>Note:</b> you must have at least 24 items in this list.</small></div>
<% if @errors[:items] %><div class="error"><%= @errors[:items].join(', ') %></div><% end %>
<p><textarea name="items" placeholder="Put your bingo items here, one per line."><%= h @values[:items] %></textarea></p>

<p><b>How many cards?</b></p>
<div><small>How many cards do you want? You'll be able to print on the next page.</small></div>
<% if @errors[:count] %><div class="error"><%= @errors[:count].join(', ') %></div><% end %>
<p><input name="count" type="number" placeholder="Number of cards to make." value="<%= h @values[:count] %>" /></p>

<p><input type="submit" value="Create Bingo Game" /></p>
</form>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
//<![CDATA[
var sc_project=10555847; 
var sc_invisible=1; 
var sc_security="0dd1d09f"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter_xhtml.js'></"+"script>");
//]]>
</script>
<noscript><div class="statcounter"><a title="shopify
analytics ecommerce tracking"
href="http://statcounter.com/shopify/"
class="statcounter"><img class="statcounter"
src="http://c.statcounter.com/10555847/0/0dd1d09f/1/"
alt="shopify analytics ecommerce tracking"
/></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
